@import 'vendors/normalize';
@import 'vendors/variables';
@import 'plugins/swiper';
@import "../../bower_components/bourbon/app/assets/stylesheets/_bourbon";
@import "plugins/font-awesome";

.container {
  @include clearfix;
  width: 1750px;
  margin: auto;
}

.section-1, .section-2, .section-3, .section-4, section-7 {
  padding: 100px 0 0 0;
  color: #fff;
  background: url(../../img/pattern.png) repeat rgba(0, 0, 0, 0.65);
}

.section-3, .section-5 {
  background: #e8e8e8;
}

header {
  position: fixed;
  width: 100%;
  height: 70px;
  left: 0;
  top: 0;
  z-index: 2;
  @include transition(all 0.2s ease);
}

header.fixed {
  @include transition(all 0.2s ease);
  position: fixed;
  background: #444444;

  a {
    @include transition(all 0.2s ease);
  }

  a:hover {
    background: #46ffca;
    color: #000000;
  }
}

.desktop-nav {
  text-align: center;

  li {
    display: inline-block;
  }

  a {
    padding: 25px 30px;
    letter-spacing: 2px;
    font-family: $Montserrat;
    font-weight: bold;
    text-decoration: none;
    display: block;
    height: 70px;
    text-transform: uppercase;
    color: #fff;
    font-size: 16px;
    margin: 0;
  }
}

.staff-slider {

  .swiper-slide {
    position: relative;
  }

  img {
    width: 100%;
  }

  .staff-info {
    opacity: 0;
    top: 8px;
    left: 8px;
    color: #ffffff;
    position: absolute;
    width: calc(100% - 16px);
    height: calc(100% - 18px);
    background: rgba(0, 0, 0, 0.5);
    border: 8px solid #46ffca;
    z-index: 10;
    @include transition(all 0.3s);

    h6 {
      font-size: 18px;
      font-family: $Montserrat;
      text-transform: capitalize;
      letter-spacing: 1px;
      margin: 155px 0 11px;
    }

    span {
      font-family: $OpenSans;
    }
  }
  .staff-info:hover {
    opacity: 1;
  }
}

section {
  float: left;
  width: 100%;
  height: 100%;
}

.text-container {
  @include clearfix;
  padding: 50px 70px 45px;
  border: 1px solid #fff;
  margin: 60px auto 0;
  width: 1200px;
  text-align: center;

  .title {
    letter-spacing: 1px;
    font-family: $Montserrat;
    font-size: 42px;
    display: inline-block;
    text-transform: uppercase;
    margin: 0 0 16px 0;
  }

  .about-text {
    text-align: center;
    font-family: $OpenSans;
    font-size: 18px;
    letter-spacing: 0.5px;
  }
}

.gallery-slider {
  height: 100%;
  overflow: hidden;

  .swiper-container{
    height: 100%;
  }

  .swiper-pagination-bullet-active{
    background: #46ffca;
  }

  img {
    width: 100%;
  }
}

.service {
  color: #444444;
  border: none;

  .title {
    margin: 0 0 100px;
  }

  .col-3 {
    width: 33.33%;
    padding: 0 15px;
    float: left;
  }

  .service-icon {
    font-size: 38px;

    h4 {
      text-transform: uppercase;
      font-family: $Montserrat;
      font-size: 18px;
    }
  }

  p {
    font-size: 18px;
    font-family: $OpenSans;
    letter-spacing: 1px;
    text-align: center;
  }

}

.staff {
  border: none;
  color: #444444;

  .title {
    margin: 40px 0 0;
  }

  .title-description {
    margin: 20px 0 50px;
  }
}

.staff-quotes-slider {
  font-family: $OpenSans;

  p {
    margin: 5px 0;
    font-size: 18px;
    letter-spacing: 0.5px;
  }

  .title {
    margin: 38px 0 30px;
    font-size: 24px;
  }

  .fa {
    display: block;
    font-size: 9px;
  }

  .swiper-pagination-bullet-active {
    background: #444444;
  }

  .swiper-container {
    height: 260px;
  }
}

.title-description {
  font-family: $OpenSans;
  font-size: 18px;

}

.membership {
  position: relative;
  color: #ffffff;

  .col-2 {
    width: 50%;
    float: left;
  }

  .right {
    text-align: center;
  }

  .price-list-info {
    @include transition(all 0.3s);
    position: relative;
    @include clearfix;
    background: #444444;
    float: right;
    width: 650px;
    height: 180px;
    margin: 45px 0;
  }

  .membership-icons-container {
    border: 1px solid #fff;
    display: inline-block;
    width: 690px;
    padding: 50px;
  }

  .icon-wrapper {
    font-size: 44px;
    padding: 47px 0;

    span {
      display: block;
      font-size: 16px;
      font-family: $OpenSans;
      text-transform: uppercase;
      letter-spacing: 1px;
    }
  }

  .icon-wrapper.inactive {
    color: #6d6d6d;
  }

  .icon-area {
    @include transition(all 0.3s);
    padding: 80px 0 0 0;
    float: left;
    width: 70px;
    height: 100%;
    background: #323232;
    font-size: 24px;
    text-align: center;
  }

  .membership-title {
    font-size: 42px;
    font-family: $Montserrat;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: inline-block;
    border: 5px solid #ffffff;
    padding: 10px 20px;
    font-weight: normal;
  }

  .text-area {
    float: left;
    width: 510px;
    padding: 10px 40px;

    h4 {
      font-family: $Montserrat;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-size: 18px;
      margin: 18px 0 16px 0;
    }

    p {
      font-family: $OpenSans;
      font-size: 16px;
      margin: 0;
      height: 88px;
      overflow: hidden;
    }
  }

  .price-label {
    position: absolute;
    @include transition(all 0.3s);
    background: #323232;
    right: 0;
    top: 17px;
    padding: 12px 25px;
    height: 40px;
    font-family: $Montserrat;
    font-size: 14px;
    text-transform: uppercase;
  }

  .price-list-info.active {

    .icon-area, .price-label {
      @include transition(all 0.3s);
      background: #46ffca;
      color: #000000;
    }
  }
}

.slider {
  position: relative;
  padding: 25px 50px 50px 50px;
  width: 60%;
  float: left;

  .swiper-container {
    cursor: move;
  }

  img {
    width: 100%;
  }

  .title {
    position: relative;
    left: -50px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #fff;
    margin: 0 0 25px 0;

    h3 {
      font-size: 42px;
      font-family: $Montserrat;
      display: inline-block;
      margin: 0 10px 0 0;
    }

    span {
      font-family: $OpenSans;
      display: inline-block;
      font-size: 14px;
    }
  }

  .border {
    position: absolute;
    width: 7px;
    height: 7px;
    background: $ButtonHover;
  }

  .border-top-right {
    width: 30%;
    top: 50px;
    right: 0;
  }

  .border-right-top {
    height: 50%;
    top: 50px;
    right: 0;
  }

  .border-bottom-left {
    width: 50%;
    bottom: 0;
    left: 0;
  }

  .border-left-bottom {
    height: 50%;
    bottom: 0;
    left: 0;
  }
}

.slider-container {
  position: relative;

  .arrows {
    position: absolute;
    top: 270px;
    z-index: 1;
    font-size: 64px;
    opacity: 0;
    cursor: pointer;
    @include transition(all 0.5s ease);
  }

  .arrows.active {
    opacity: 1;
    @include transition(all 0.5s ease);
  }

  .arrows.swiper-button-disabled {
    color: rgba(204, 204, 204, 0.5);
  }

  .next-slide {
    right: 30px;
  }

  .prev-slide {
    left: 30px;
  }
}

.main-text-container {
  float: left;
  padding: 25px 50px;
  width: 40%;

  p {
    font-family: $OpenSans;
    font-size: 14px;
    letter-spacing: 1px;

    b {
      font-family: $Montserrat;
      font-size: 16px;
    }
  }

  .title {
    text-transform: uppercase;
    letter-spacing: 1px;

    h3 {
      font-size: 42px;
      font-family: $Montserrat;
      display: block;
      margin: 0;
    }

    span {
      font-family: $OpenSans;
      font-size: 14px;
    }
  }
}

.button {
  font-size: 14px;
  font-family: $Montserrat;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 10px 15px;
  display: inline-block;
  background: #444444;
  color: #ffffff;
  text-decoration: none;
  @include transition(all 0.2s);
}

.button:hover {
  background: $ButtonHover;
  color: #000;
}