@media only screen and (min-width: 240px) and (max-width: 1770px) {
  .container {
    width: 1500px;
  }

  .input-container {
    width: 700px;
  }

  .paragraph-container {
    height: 539px;
    overflow: hidden;
  }
}

@media only screen and (min-width: 240px) and (max-width: 1500px) {
  .container {
    width: 1300px;
  }

  .input-container {
    width: 700px;
  }

  .paragraph-container {
    height: 449px;
    overflow: hidden;
  }

  .text-container {
    margin: 20px auto 0;
  }

  .membership .membership-icons-container {
    width: 520px;
    padding: 0;
  }

  .membership .price-list-info {
    margin: 30px 0;
    width: 580px;
  }

  .membership .text-area p {
    font-size: 14px;
  }
}

@media only screen and (min-width: 240px) and (max-width: 1320px) {
  .container {
    width: 1000px;
  }

  .input-container {
    width: 700px;
  }

  .desktop-nav a {
    font-size: 16px;
    padding: 25px 20px;
  }

  .main-text-container p {
    font-size: 14px;
    letter-spacing: 1px;
  }

  .paragraph-container {
    height: 278px;
  }

  .text-container {
    width: auto;

    .about-text {
      font-family: "Open Sans", sans-serif;
      font-size: 14px;
      letter-spacing: .5px;
    }

    .title {
      font-size: 32px;
    }
  }

  .membership .membership-icons-container {
    width: 460px;
  }

  .membership .icon-wrapper {
    font-size: 34px;
    padding: 31px 0;
  }

  .membership .price-list-info {
    margin: 10px 0;
    width: 520px;
    height: 160px;
  }

  .membership .text-area {
    float: left;
    width: calc(100% - 70px);
  }

  .membership .membership-title {
    font-size: 32px;
  }

  .title-description {
    font-size: 14px;
  }

  .staff-quotes-slider p {
    font-size: 14px;
  }

  .main-text-container .title h3 {
    font-size: 32px;
  }

  .slider .title h3 {
    font-size: 32px;
  }

  .slider .title span {
    font-size: 12px;
  }

  .slider {
    padding: 25px 50px 30px;
  }
}

@media only screen and (min-width: 240px) and (max-width: 1025px) {
  .container {
    width: 100%;
    padding: 0 100px;
  }

  .input-container {
    width: 700px;
  }

  .slider, .main-text-container {
    width: 100%;
  }

  section, .paragraph-container {
    height: auto !important;
  }

  .section-2, .section-3, .section-4 {
    padding: 50px 0;
  }

  .section-4 {

    .col-2 {
      width: 100%;
    }

  }

  .membership .price-list-info {
    margin: 20px auto;
    float: none;
  }

}

@media only screen and (min-width: 240px) and (max-width: 768px) {
  .input-container {
    width: 100%;
  }
}

@media only screen and (min-width: 240px) and (max-width: 485px) {

  .container {
    padding: 0 20px;
  }

  .membership .price-list-info, .membership .membership-icons-container {
    width: 100%;
  }

  .slider {
    padding: 20px;

    .title {
      left: -20px;
    }
  }

  .membership .price-list-info {
    height: 200px;
  }

  .membership .price-label {
    font-size: 13px;
    padding: 10px;
    height: auto;
    top: 151px;
  }

  .text-container {
    padding: 20px;

    .title {
      margin: 0;
    }
  }

  .service {
    .col-3 {
      width: 100%;
    }
  }

  .membership .icon-wrapper {
    font-size: 24px;
  }

  .col-3 {
    width: 100%;
  }

  .membership .text-area p {
    height: 80px;
  }

}